In [1]:
import pandas as pd

In [26]:
df= pd.read_csv('categiriclData.csv')

# **Find Categirical data**

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            1460 non-null   int64
 1   Date          1460 non-null   object
 2   MSZoning      1460 non-null   object
 3   Street        1460 non-null   object
 4   LotShape      1460 non-null   object
 5   LandSlope     1460 non-null   object
 6   Neighborhood  1460 non-null   object
 7   Condition1    1460 non-null   object
 8   Condition2    1460 non-null   object
 9   RoofStyle     1460 non-null   object
dtypes: int64(1), object(9)
memory usage: 114.2+ KB

In [28]:
#find name of categorical columns
df.select_dtypes(include=['object']).columns.tolist()

['Date',
 'MSZoning',
 'Street',
 'LotShape',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'RoofStyle']

###**Split Dates**

In [29]:
# Find Dates from calendar: year,month,week and day
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df.Date.dt.year
df['Month'] = df.Date.dt.month
df['Day'] = df.Date.dt.day
df['Week'] = (df.Date.dt.isocalendar().week)*1.0
df.head(2)

,Id,Date,MSZoning,Street,LotShape,LandSlope,Neighborhood,Condition1,Condition2,RoofStyle,Year,Month,Day,Week
0,1,2010-02-05,RL,Pave,Reg,Gtl,CollgCr,Norm,Norm,Gable,2010,2,5,5.0
1,2,2010-02-12,RL,Pave,Reg,Gtl,Veenker,Feedr,Norm,Gable,2010,2,12,6.0

###**Find unique categiries of each columns**

In [10]:
df.MSZoning.unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [32]:
df.groupby("MSZoning")["Id"].count().to_frame("Total_Number").head()

          Total_Number
MSZoning
C (all)             10
FV                  65
RH                  16
RL                1151
RM                 218

###**Drop Categorical Variables**

Release the object columns with the select_dtypes () method

In [ ]:

# df = df.select_dtypes(exclude=['object'])

###**One Hot Encoding**

When dealing with small, scattered numeric values, we may not need to store these values. Then, we can do One Hot Encoding. For k distinct values, we can convert the property to a next k vector with a value of 1 and 0 as the rest of the values.

In [40]:
from sklearn.preprocessing import OneHotEncoder

df1=df[['Id','MSZoning']]
# Create the encoder.
encoder = OneHotEncoder(handle_unknown="ignore")
encoder.fit(df1)    # Assume for simplicity all features are categorical.

# Apply the encoder.
df1 = encoder.transform(df1)

###**Dumming**

In [39]:
import numpy as np 
df2=df[["Id","Street"]]
df2 = pd.get_dummies(df2)
df2.head(2)

   Id  Street_Grvl  Street_Pave
0   1            0            1
1   2            0            1