In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('categiriclData.csv')

# **Find Categirical data**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1460 non-null   int64
 1   Date       1460 non-null   object
 2   MSZoning   1460 non-null   object
 3   Street     1460 non-null   object
 4   LotShape   1460 non-null   object
 5   LandSlope  1460 non-null   object
 6   RoofStyle  1460 non-null   object
dtypes: int64(1), object(6)
memory usage: 80.0+ KB

In [ ]:
#find name of categorical columns
df.select_dtypes(include=['object']).columns.tolist()

['Date', 'MSZoning', 'Street', 'LotShape', 'LandSlope', 'RoofStyle']

###**Split Dates**

In [ ]:
# Find Dates from calendar: year,month,week and day
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df.Date.dt.year
df['Month'] = df.Date.dt.month
df['Day'] = df.Date.dt.day
df['Week'] = (df.Date.dt.isocalendar().week)*1.0
df.head(2)

,Id,Date,MSZoning,Street,LotShape,LandSlope,RoofStyle,Year,Month,Day,Week
0,1,2010-02-05,RL,Pave,Reg,Gtl,Gable,2010,2,5,5.0
1,2,2010-02-12,RL,Pave,Reg,Gtl,Gable,2010,2,12,6.0

###**Find unique categiries of each columns**

In [ ]:
df.RoofStyle.unique()

array(['Gable', 'Hip', 'Gambrel', 'Mansard', 'Flat', 'Shed'], dtype=object)

In [ ]:
df.groupby("RoofStyle")["Id"].count().to_frame("Total_Number").head()

           Total_Number
RoofStyle
Flat                 13
Gable              1141
Gambrel              11
Hip                 286
Mansard               7

###**Drop Categorical Variables**

Release the object columns with the select_dtypes () method

In [ ]:

# df = df.select_dtypes(exclude=['object'])

###**One Hot Encoding**

When dealing with small, scattered numeric values, we may not need to store these values. Then, we can do One Hot Encoding. For k distinct values, we can convert the property to a next k vector with a value of 1 and 0 as the rest of the values.

In [ ]:
from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(encoder.fit_transform(df[['Street']]).toarray())

#merge one-hot encoded columns back with original DataFrame
df = df.join(encoder_df)
df.head(2)

,Id,Date,MSZoning,Street,LotShape,LandSlope,RoofStyle,Year,Month,Day,Week,0,1
0,1,2010-02-05,RL,Pave,Reg,Gtl,Gable,2010,2,5,5.0,0.0,1.0
1,2,2010-02-12,RL,Pave,Reg,Gtl,Gable,2010,2,12,6.0,0.0,1.0

###**Dumming**

In [ ]:
import numpy as np 

dummi_df = pd.get_dummies(df[["LandSlope"]])
df = df.join(dummi_df)
df.head(2)

,Id,Date,MSZoning,Street,LotShape,LandSlope,RoofStyle,Year,Month,Day,Week,0,1,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg
0,1,2010-02-05,RL,Pave,Reg,Gtl,Gable,2010,2,5,5.0,0.0,1.0,0,0,0,1
1,2,2010-02-12,RL,Pave,Reg,Gtl,Gable,2010,2,12,6.0,0.0,1.0,0,0,0,1

###**Label Encoding**

In [ ]:
df.LotShape.unique()

array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
manual_dummy = {'Reg':1, 'IR1':2, 'IR1':3,'IR1':4}
df['LotShape_num'] = df.LotShape.map(manual_dummy)
df.head(2)

,Id,Date,MSZoning,Street,LotShape,LandSlope,RoofStyle,Year,Month,Day,Week,0,1,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotShape_num
0,1,2010-02-05,RL,Pave,Reg,Gtl,Gable,2010,2,5,5.0,0.0,1.0,0,0,0,1,1.0
1,2,2010-02-12,RL,Pave,Reg,Gtl,Gable,2010,2,12,6.0,0.0,1.0,0,0,0,1,1.0

In [ ]:
df=df.drop({"Date",	"MSZoning",	"Street",	"LotShape",	"LandSlope"	,"RoofStyle",	"Year"},axis=1)
df.head(2)

,Id,Month,Day,Week,0,1,LotShape_IR1,LotShape_IR2,LotShape_IR3,LotShape_Reg,LotShape_num
0,1,2,5,5.0,0.0,1.0,0,0,0,1,1.0
1,2,2,12,6.0,0.0,1.0,0,0,0,1,1.0